.tab_red {
  color: red;
}
.tab_red[aria-selected='true'] {
  border-bottom-color: red;
}

.tab_blue {
  color: blue;
}
.tab_blue[aria-selected='true'] {
  border-bottom-color: blue;
}

.tab_orange {
  color: orange;
}
.tab_orange[aria-selected='true'] {
  border-bottom-color: orange;
}

.tab_gray {
  color: black;
}
.tab_gray[aria-selected='true'] {
  border-bottom-color: gray;
}
